<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
</head>
<body>
<div th:fragment="user-edit" th:each="user : ${users}">
    <form class="row justify-content-center m-0" th:method="PATCH"
          th:action="@{/edit-user/{id}(id=${user.getId()})}"
          th:object="${user}">
        <div class="modal fade" th:id="'editModal-' + ${user.getId()}" tabindex="-1" role="dialog"
             aria-labelledby="editModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row justify-content-center m-0">
                        <div class="modal-body col-6 text-center">
                            <div class="form-group">
                                <label th:for="'editModal-id-' + ${user.getId()}"
                                       class="font-weight-bold mb-0">ID</label>
                                <input type="text" class="form-control form-control-sm"
                                       th:id="'editModal-id-' + ${user.getId()}" disabled
                                       th:name="id" th:value="${user.getId()}">
                            </div>
                            <div class="form-group">
                                <label th:for="'editModal-firstName-' + ${user.getId()}" class="font-weight-bold mb-0">First
                                    name</label>
                                <input type="text" class="form-control form-control-sm"
                                       th:id="'editModal-firstName-' + ${user.getId()}"
                                       th:name="firstName" th:value="${user.getFirstName()}" autofocus>
                            </div>
                            <div class="form-group">
                                <label th:for="'editModal-lastName-' + ${user.getId()}" class="font-weight-bold mb-0">Last
                                    name</label>
                                <input type="text" class="form-control form-control-sm"
                                       th:id="'editModal-lastName-' + ${user.getId()}"
                                       th:name="lastName" th:value="${user.getLastName()}">
                            </div>
                            <div class="form-group">
                                <label th:for="'editModal-age-' + ${user.getId()}"
                                       class="font-weight-bold mb-0">Age</label>
                                <input type="text" class="form-control form-control-sm"
                                       th:id="'editModal-age-' + ${user.getId()}" th:name="age"
                                       th:value="${user.getAge()}">
                            </div>
                            <div class="form-group">
                                <label th:for="'editModal-email-' + ${user.getId()}"
                                       class="font-weight-bold mb-0">Email</label>
                                <input type="email" class="form-control form-control-sm"
                                       th:id="'editModal-email-' + ${user.getId()}"
                                       th:name="email"
                                       th:value="${user.getEmail()}">
                            </div>
                            <div class="form-group">
                                <label th:for="'editModal-password-' + ${user.getId()}" class="font-weight-bold mb-0">Password</label>
                                <input type="password" class="form-control form-control-sm"
                                       th:id="'editModal-password-' + ${user.getId()}"
                                       th:name="password" th:value="${user.getPassword()}">
                            </div>
                            <div class="form-group">
                                <label th:for="'editModal-roles-' + ${user.getId()}"
                                       class="font-weight-bold mb-0">Role</label>
                                <select class="custom-select" th:id="'editModal-roles-' + ${user.getId()}"
                                        th:size="${roles.size()}" multiple
                                        th:name="roles" required>
                                    <option th:each="role : ${roles}" th:value="${role.getName()}"
                                            th:selected="${user.roles.contains(role)}" th:text="${role}">
                                        NAME_OF_ROLE
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
