<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="ru">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<div th:fragment="user-edit">
    <form class="row justify-content-center m-0" id="edit-user-form">
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
             aria-labelledby="editModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row justify-content-center m-0">
                        <div class="modal-body col-6 text-center">
                            <div class="form-group">
                                <label for="editmodal-id" class="font-weight-bold mb-0">ID</label>
                                <input type="text" class="form-control form-control-sm"
                                       id="editmodal-id" readonly name="id">
                            </div>
                            <div class="form-group">
                                <label for="editmodal-firstname" class="font-weight-bold mb-0">First
                                    name</label>
                                <input type="text" class="form-control form-control-sm"
                                       id="editmodal-firstname"
                                       name="firstName" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="editmodal-lastName" class="font-weight-bold mb-0">Last
                                    name</label>
                                <input type="text" class="form-control form-control-sm"
                                       id="editmodal-lastName"
                                       name="lastName">
                            </div>
                            <div class="form-group">
                                <label for="editmodal-age"
                                       class="font-weight-bold mb-0">Age</label>
                                <input type="number" class="form-control form-control-sm"
                                       id="editmodal-age" name="age">
                            </div>
                            <div class="form-group">
                                <label for="editmodal-email"
                                       class="font-weight-bold mb-0">Email</label>
                                <input type="email" class="form-control form-control-sm"
                                       id="editmodal-email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="editmodal-password" class="font-weight-bold mb-0">Password</label>
                                <input type="password" class="form-control form-control-sm"
                                       id="editmodal-password" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="editmodal-roles" class="font-weight-bold mb-0">Role</label>
                                <select class="custom-select" id="editmodal-roles" th:size="${roles.size()}" multiple
                                        name="roles" required>
                                    <option th:each="role : ${roles}" th:value="${role.getName()}" th:text="${role}">
                                        NAME_OF_ROLE
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
