<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<div th:fragment="user-delete">
    <form class="row justify-content-center m-0" id="delete-user-form">
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row justify-content-center m-0">
                        <div class="modal-body col-6 text-center">
                            <div class="form-group">
                                <label for="delete-form-id" class="font-weight-bold mb-0">ID</label>
                                <input id="delete-form-id" type="text" class="form-control form-control-sm" disabled
                                       name="id">
                            </div>
                            <div class="form-group">
                                <label for="delete-form-firstname" class="font-weight-bold mb-0">First name</label>
                                <input id="delete-form-firstname" type="text" class="form-control form-control-sm"
                                       name="firstName" disabled>
                            </div>
                            <div class="form-group">
                                <label for="delete-form-lastname" class="font-weight-bold mb-0">Last name</label>
                                <input id="delete-form-lastname" type="text" class="form-control form-control-sm"
                                       name="lastName" disabled>
                            </div>
                            <div class="form-group">
                                <label for="delete-form-age" class="font-weight-bold mb-0">Age</label>
                                <input id="delete-form-age" type="number" class="form-control form-control-sm"
                                       name="age" disabled>
                            </div>
                            <div class="form-group">
                                <label for="delete-form-email" class="font-weight-bold mb-0">Email</label>
                                <input id="delete-form-email" type="email" class="form-control form-control-sm"
                                       name="email" disabled>
                            </div>
                            <div class="form-group">
                                <label for="delete-form-roles" class="font-weight-bold mb-0">Role</label>
                                <select id="delete-form-roles" class="custom-select" multiple name="roles"
                                        disabled>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
