<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
</head>
<body>
<div th:fragment="users-table" class="border rounded-bottom">
    <h5 class="px-3 py-2 border-bottom mb-0">All users</h5>
    <div class="bg-white p-3 rounded-bottom">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}">Id</td>
                <td th:text="${user.getFirstName()}">FirstName</td>
                <td th:text="${user.getLastName()}">LastName</td>
                <td th:text="${user.getAge()}">Age</td>
                <td th:text="${user.getEmail()}">Email</td>
                <td th:text="${user.printRoles()}">ROLES</td>
                <td>
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                            th:data-target="'#editModal-' + ${user.getId()}">Edit
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            th:data-target="'#deleteModal-' + ${user.getId()}">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal edit -->
    <div th:each="user : ${users}">
        <form class="row justify-content-center m-0" th:method="PATCH"
              th:action="@{/edit-user/{id}(id=${user.getId()})}"
              th:object="${user}">
            <div class="modal fade" th:id="'editModal-' + ${user.getId()}" tabindex="-1" role="dialog"
                 aria-labelledby="editModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="row justify-content-center m-0">
                            <div class="modal-body col-6 text-center">
                                <div class="form-group">
                                    <label for="id" class="font-weight-bold mb-0">ID</label>
                                    <input type="text" class="form-control form-control-sm" id="id" disabled
                                           th:name="id" th:value="${user.getId()}">
                                </div>
                                <div class="form-group">
                                    <label for="firstName" class="font-weight-bold mb-0">First name</label>
                                    <input type="text" class="form-control form-control-sm" id="firstName"
                                           th:name="firstName" th:value="${user.getFirstName()}" autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="lastName" class="font-weight-bold mb-0">Last name</label>
                                    <input type="text" class="form-control form-control-sm" id="lastName"
                                           th:name="lastName" th:value="${user.getLastName()}">
                                </div>
                                <div class="form-group">
                                    <label for="age" class="font-weight-bold mb-0">Age</label>
                                    <input type="text" class="form-control form-control-sm" id="age" th:name="age"
                                           th:value="${user.getAge()}">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="font-weight-bold mb-0">Email</label>
                                    <input type="email" class="form-control form-control-sm" id="email"
                                           th:name="email"
                                           th:value="${user.getEmail()}">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="font-weight-bold mb-0">Password</label>
                                    <input type="password" class="form-control form-control-sm" id="password"
                                           th:name="password" th:value="${user.getPassword()}">
                                </div>
                                <div class="form-group">
                                    <label for="roles" class="font-weight-bold mb-0">Role</label>
                                    <select class="custom-select" id="roles" size="2" multiple th:name="roles">
                                        <option th:each="role : ${user.getRoles()}" th:value="${role.name}"
                                                th:selected="${user.roles.contains(role)}"
                                                th:text="${role.name.replaceFirst('ROLE_', '')}">ROLE_NAME
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Modal delete -->
    <div th:each="user : ${users}">
        <form class="row justify-content-center m-0" th:method="DELETE"
              th:action="@{/delete-user/{id}(id=${user.getId()})}"
              th:object="${user}">
            <div class="modal fade" th:id="'deleteModal-' + ${user.getId()}" tabindex="-1" role="dialog"
                 aria-labelledby="deleteModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="row justify-content-center m-0">
                            <div class="modal-body col-6 text-center">
                                <div class="form-group">
                                    <label class="font-weight-bold mb-0">ID</label>
                                    <input type="text" class="form-control form-control-sm" disabled
                                           th:name="id" th:value="${user.getId()}">
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold mb-0">First name</label>
                                    <input type="text" class="form-control form-control-sm" th:name="firstName"
                                           th:value="${user.getFirstName()}" autofocus disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold mb-0">Last name</label>
                                    <input type="text" class="form-control form-control-sm" th:name="lastName"
                                           th:value="${user.getLastName()}" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold mb-0">Age</label>
                                    <input type="text" class="form-control form-control-sm" th:name="age"
                                           th:value="${user.getAge()}" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold mb-0">Email</label>
                                    <input type="email" class="form-control form-control-sm" th:name="email"
                                           th:value="${user.getEmail()}" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold mb-0">Role</label>
                                    <select class="custom-select" size="2" multiple th:name="roles" disabled>
                                        <option th:each="role : ${user.getRoles()}" th:value="${role.name}"
                                                th:text="${role.name.replaceFirst('ROLE_', '')}">ROLE_NAME
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"-->
    <!--         aria-hidden="true">-->
    <!--        <div class="modal-dialog" role="document">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>-->
    <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
    <!--                        <span aria-hidden="true">&times;</span>-->
    <!--                    </button>-->
    <!--                </div>-->
    <!--                <div class="modal-body row justify-content-center m-0">-->
    <!--                    <form class="col-6 text-center">-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="font-weight-bold mb-0">ID</label>-->
    <!--                            <input type="text" class="form-control form-control-sm" disabled>-->
    <!--                        </div>-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="font-weight-bold mb-0">First name</label>-->
    <!--                            <input type="text" class="form-control form-control-sm" disabled>-->
    <!--                        </div>-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="font-weight-bold mb-0">Last name</label>-->
    <!--                            <input type="text" class="form-control form-control-sm" disabled>-->
    <!--                        </div>-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="font-weight-bold mb-0">Age</label>-->
    <!--                            <input type="text" class="form-control form-control-sm" disabled>-->
    <!--                        </div>-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="font-weight-bold mb-0">Email</label>-->
    <!--                            <input type="email" class="form-control form-control-sm" disabled>-->
    <!--                        </div>-->
    <!--                        <div class="form-group">-->
    <!--                            <label class="font-weight-bold mb-0">Role</label>-->
    <!--                            <select class="custom-select" size="2" multiple disabled>-->
    <!--                                <option value="ADMIN">ADMIN</option>-->
    <!--                                <option value="USER">USER</option>-->
    <!--                            </select>-->
    <!--                        </div>-->
    <!--                    </form>-->
    <!--                </div>-->
    <!--                <div class="modal-footer">-->
    <!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
    <!--                    <button type="button" class="btn btn-danger">Delete</button>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
