<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
</head>
<body>
<div th:fragment="users-table" class="border rounded-bottom">
    <h5 class="px-3 py-2 border-bottom mb-0">All users</h5>
    <div class="bg-white p-3 rounded-bottom">
        <table class="table table-striped" id="users-table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}">Id</td>
                <td th:text="${user.getFirstName()}">FirstName</td>
                <td th:text="${user.getLastName()}">LastName</td>
                <td th:text="${user.getAge()}">Age</td>
                <td th:text="${user.getEmail()}">Email</td>
                <td th:text="${user.printRoles()}">ROLES</td>
                <td>
                    <!--                    <button th:id="'#editModalOpen-' + ${user.getId()}" type="button" class="btn btn-info btn-sm"-->
                    <!--                            data-toggle="modal"-->
                    <!--                            th:data-target="'#editModal-' + ${user.getId()}">Edit-->
                    <!--                    </button>-->
                    <button th:id="'#editModalOpen-' + ${user.getId()}" type="button" class="btn btn-info btn-sm">Edit
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            th:data-target="'#deleteModal-' + ${user.getId()}">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal edit -->
    <div th:replace="fragments/user-edit :: user-edit"></div>
    <!-- Modal delete -->
    <div th:replace="fragments/user-delete :: user-delete"></div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
