#logout:hover {
    color: white !important;
    text-decoration: none;
}

.inactive-sidebar-link {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.sidebar-link:hover {
    text-decoration: none;
}

#login-form label {
    display: none;
}
