<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<h3>Добавление пользователя</h3>
<div>
    <form method="POST" action="/add" th:object="${user}">
        <div>
            <label for="name">Имя (строка)</label>
            <input name="name" type="text" id="name" th:field="*{name}" autofocus>
        </div>
        <div>
            <label for="age">Возраст (целое число)</label>
            <input name="age" type="text" id="age">
        </div>
        <div>
            <label for="skill">Мастерство (вещественное число)</label>
            <input name="skill" type="text" id="skill">
        </div>
        <div>
            <label for="username">Логин</label>
            <input name="username" type="text" id="username" required>
        </div>
        <div>
            <label for="password">Пароль</label>
            <input name="password" type="password" id="password" required>
        </div>
        <input type="submit" value="Сохранить">
    </form>
    <div th:replace="logout :: logout"></div>
</div>
</body>
</html>
