<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<h3>Добавление пользователя</h3>
<div>
    <form method="POST" action="/" th:object="${user}">
        <div>
            <label for="name">Имя (строка)</label>
            <input name="name" type="text" id="name" th:field="*{name}">
        </div>
        <div>
            <label for="age">Возраст (целое число)</label>
            <input name="age" type="text" id="age">
        </div>
        <div>
            <label for="skill">Мастерство (вещественное число)</label>
            <input name="skill" type="text" id="skill">
        </div>
        <input type="submit" value="Сохранить">
    </form>
</div>
</body>
</html>
