<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="utf-8">
    <title>Common User Page</title>
</head>
<body>
<main>
    <h1 class="pb-2">User information-page</h1>
    <div class="bg-white border rounded">
        <h5 class="px-3 py-2 border-bottom mb-0 bg-light rounded-top">About user</h5>
        <div class="p-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="id" th:text="${user.getId()}">Id</td>
                    <td class="firstname" th:text="${user.getFirstName()}">FirstName</td>
                    <td class="lastname" th:text="${user.getLastName()}">LastName</td>
                    <td class="age" th:text="${user.getAge()}">Age</td>
                    <td class="email" th:text="${user.getEmail()}">Email</td>
                    <td class="roles" th:text="${user.printRoles()}">ROLES</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>
