<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title th:text="${user.hasRole('ADMIN')} ? 'Admin Page' : 'User Page'">User Page</title>
</head>
<body>
<div>
    <header class="navbar bg-dark text-light" th:replace="fragments/header :: header">
        Header
    </header>
    <div class="row min-vh-100 m-auto">
        <!--        sidebar-->
        <div class="col-2 px-0 bg-white">
            <nav class="sidebar py-3">
                <div class="d-flex flex-column">
                    <a id="admin-link" href="/admin" th:if="${user.hasRole('ADMIN')}"
                       class="text-truncate px-3 py-2 rounded-sm sidebar-link"
                       th:classappend="${user.hasRole('ADMIN')} ? 'text-light inactive-sidebar-link bg-primary' : 'text-primary'">
                        Admin
                    </a>
                    <a id="common-user-link" href="/common-user" th:if="${user.hasRole('COMMON_USER')}"
                       class="text-truncate px-3 py-2 rounded-sm sidebar-link"
                       th:classappend="${user.hasRole('ADMIN')} ? 'text-primary' : 'text-light inactive-sidebar-link bg-primary'">
                        Common User
                    </a>
                </div>
            </nav>
        </div>
        <!--    main-->
        <div id="main" class="col-10 bg-light px-4 pt-2">
            <div th:if="${user.hasRole('ADMIN')}">
                <h1 class="pb-2">Admin panel</h1>
                <ul class="nav nav-tabs" id="users-manage-tab-link" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="users-table-tab-link" data-toggle="tab" href="#users-table-tab"
                           role="tab"
                           aria-controls="users-table-tab"
                           aria-selected="true">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="new-user-tab" data-toggle="tab" href="#new-user" role="tab"
                           aria-controls="new-user"
                           aria-selected="false">New user</a>
                    </li>
                </ul>
                <div class="tab-content" id="users-manage-tab-content">
                    <div class="tab-pane fade show active" id="users-table-tab" role="tabpanel"
                         aria-labelledby="users-table-tab-link">
                        <div th:replace="fragments/users-table :: users-table">Таблица пользователей</div>
                    </div>
                    <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                        <div th:replace="fragments/new-user :: new-user">Создание нового пользователя</div>
                    </div>
                </div>
            </div>
            <div th:unless="${user.hasRole('ADMIN')}">
                <h1 class="pb-2">User information-page</h1>
                <div class="bg-white border rounded">
                    <h5 class="px-3 py-2 border-bottom mb-0 bg-light rounded-top">About user</h5>
                    <div class="p-3">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${user.getId()}">Id</td>
                                <td th:text="${user.getFirstName()}">FirstName</td>
                                <td th:text="${user.getLastName()}">LastName</td>
                                <td th:text="${user.getAge()}">Age</td>
                                <td th:text="${user.getEmail()}">Email</td>
                                <td th:text="${user.printRoles()}">ROLES</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="/js/data_processor.js"></script>-->
</body>
</html>
